body {
  background-image: url('https://i.pinimg.com/736x/7c/a5/84/7ca5849bc9c8c50d4de1d0927da0a105.jpg');
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family:  'Alien' , sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
  color: #00ff6a ;
}
h2 {
  color: #00ff6a;
  margin: 10px;
  font-size: 32px;
}
section.board {
  display: grid;
  grid-template-rows: repeat(3, 15vmin);
  grid-template-columns: repeat(3, 15vmin);
  grid-gap: 0vmin;
  margin: 10px;
  
}

div {
  border: 3px solid #00ff6a;
  background-color: rgb(6, 6, 6, 0.5);
  font-size: 12vmin;
  text-align: center;
}
#winner{
  border: none;
  background: none;
  font-size: 20vmin;
  margin-top: 20px;
}

#reset-button {
  margin: 10px;
  width: auto;
  background-color: rgb(0, 200, 255);
}

#sq0, #sq2, #sq6, #sq8 {
  border: none;
}

#sq1, #sq7 {
  border-top: none;
  border-bottom: none;
}
#sq3, #sq5 {
  border-left: none;
  border-right: none;
}


